// Colors are easier to handle in CSS files
// so I defined the colors here so If I need
// to make any modifications to them, its
// easier using hsl() and the built in color picker

// the colors will be used inside a JS object
// so they need to follow the standard naming conventions

// after editing, copy the new color over to styles.js

.colors {
	primarybg: hsl(249, 49%, 8%);
	primarybg800: '#0e0b20';
	offwhite: '#a09ea3';
	primaryclr: '#f35600';
	yellow: '#ffb70c';
}
